
(WTR) C:\Users\User\weather_station>C:\Python34\python.exe -m pip freeze 
beautifulsoup4==4.5.1
bokeh==0.12.3
bs4==0.0.1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.8.13
django-forms-bootstrap==3.0.1
django-mailgun==0.9.1
django-markdown-deux==1.0.5
django-simple-captcha==0.5.3
django-toolbelt==0.0.1
ez-setup==0.9
gunicorn==19.6.0
Jinja2==2.8.1
markdown2==2.3.2
MarkupSafe==0.23
numpy==1.11.3
olefile==0.44
Pillow==4.0.0
prettytable==0.7.2
psycopg2==2.6.2
pygame==1.9.2b1
PyMySQL==0.7.9
python-dateutil==2.6.0
PyYAML==3.12
requests==2.11.1
six==1.10.0
static3==0.7.0
tornado==4.4.2
whitenoise==3.2.2
