<!--base.html-->
<! DOCTYPE html>
    <html >
        <head lang="zh-Hant-TW">
            <title></title>
            <meta name="viewport" content="width=device-width ,initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> 
            <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" rel="stylesheet" type="text/css">
            <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet" type="text/css">
            <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
            <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.js"></script>
        </head>
        <body style="padding-top: 100px;">  
			{% include 'header.html' %}
            {% block content %} {% endblock %}
        </body>
    </html>
                                                                               
                     