{% extends "base.html" %}
{% block content %}
    <h1>氣象資料：</h1>
			<ul>
                <!--temperature->tpr, ultraviolet_radiation->ur,light_intensity->li-->
				<!-- <li>時間：{{now}} -->
				<li>氣溫：{{tpr}}&deg;C</li>
				<li>濕度：{{wet}}%</li>
				<li>紫外線：{{ur}}AV</li>
				<li>光強度：{{li}}</li>
			</ul>
    <div>
        
    </div>
	
	<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    
{% endblock %}
                                                                               
<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bokeh Scatter Plots</title>
   <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
 </head>
 <body>
     {{ div | safe }}
</body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    {{ script | safe }}
</html>
-->  
